@page "/event"

<div class="container-fluid">
    <div class="row">
        <div class="col-8">
            <div class="text-xl font-bold my-4">
                Manage Events&nbsp;
                @if (isadmin)
                {
                    <i class="fa fa-plus" aria-hidden="true" @onclick="@(e => ShowPop(null, null))"></i>
                }
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-8">
            <div style="font-size:22px;  @errorMsgColor">@((MarkupString)errorMsg)</div>
        </div>
        <div class="col">
            &nbsp;
        </div>
    </div>
</div>



    <BlazorGrid CurrentPage="@currentPage" TotalRows="@TotalRows" pageSize="@pageSize" OnClick="PagingHandler">
        <ModalHeader>
        <tr>
            <th style="width:25%;">
                <MenuHeader ColumnName="Date" ColumnType="date" SelectedColumn="@sortKey" SortDir="@sortDirection" Sort="Sort" Filter="Filter">Date</MenuHeader>
            </th>
            <th class="smallSCR medSCR">
                <MenuHeader ColumnName="UserName" SelectedColumn="@sortKey" SortDir="@sortDirection" Sort="Sort" Filter="Filter">UserName</MenuHeader>
            </th>
            <th>
                <MenuHeader ColumnName="Description" SelectedColumn="@sortKey" SortDir="@sortDirection" Sort="Sort" Filter="Filter">Description</MenuHeader>
            </th>
            <th class="smallSCR medSCR">
                <MenuHeader ColumnName="topic" SelectedColumn="@sortKey" SortDir="@sortDirection" Sort="Sort" Filter="Filter">Topic</MenuHeader>
            </th>
        </tr>
        </ModalHeader>
        <ModalBody>
        @foreach (var dat in eventData)
        {
            <tr @onclick="@(e => ShowPop(e, dat))">
                <td>@(dat.date==null?"n/a":dat.date.Value.ToShortDateString())</td>
                <td class="smallSCR medSCR">@dat.userName</td>
                <td>@dat.description</td>
                <td class="smallSCR medSCR">@dat.topic</td>
            </tr>
        }
    </ModalBody>
</BlazorGrid>


<BlazorModal Title="Update Event" IsOpened="isOpened">
    <ModalBody>
        <div class="row mb-1">
            <div class="col-xs-6 col-sm-4">
                <label class="label2">Name</label>
            </div>
            <div class="col-xs-6 col-lg-8">
                <select class="form-select" @onchange="onChangePerson">
                    @foreach (var pep in peopleData)
                    {
                        var issel = false;
                        if (pep.id == selectedCopyEvent.userId) issel = true;
                        if (string.IsNullOrEmpty(pep.name))
                        {
                            <option value="@pep.id" selected=@issel>@("<<Select Address>>")</option>
                        }
                        else
                        {
                            <option value="@pep.id" selected=@issel>@((MarkupString)pep.name)</option>
                        }
                    }
                </select>
            </div>
        </div>

        <div class="row mb-1">
            <div class="col-xs-6 col-sm-4">
                <label class="label2">Category</label>
            </div>
            <div class="col-xs-6 col-lg-8">
                <select class="form-select" @onchange="onChangeCategory">
                    @foreach (var pep in topicData)
                    {
                        var issel = false;
                        if (pep.Id == selectedCopyEvent.topicId) issel = true;
                        <option value="@pep.Id" selected=@issel>@((MarkupString)pep.TopicTitle)</option>
                    }
                </select>
            </div>
        </div>
        <div class="row mb-1">
            <div class="col-xs-6 col-sm-4">
                <label class="label2">Topic</label>
            </div>
            <div class="col-xs-6 col-lg-8">
                <input class="form-control" placeholder="Topic..." type="text" @bind="selectedCopyEvent.topic" />
            </div>
        </div>
        <div class="row mb-1">
            <div class="col-xs-6 col-sm-4">
                <label class="label2">Date</label>
            </div>
            <div class="col-xs-6 col-lg-8">
                <input class="form-control" placeholder="Date..." type="date" @bind="selectedCopyEvent.date" />
            </div>
        </div>
        <div class="row">
            <div class="col-xs-6 col-sm-4">
                <label class="label2">Description</label>
            </div>
            <div class="col-xs-6 col-lg-8">
                <input class="form-control" placeholder="Description..." type="text" @bind="selectedCopyEvent.description" />
            </div>
        </div>

    </ModalBody>
    <ModalFooter>
        <button class="btn btn-primary" @onclick="CloseModal">Close</button>
        <button class="btn btn-primary" disabled="@(isadmin==false)" @onclick="SaveModal">Save</button>
    </ModalFooter>
</BlazorModal>
