@page "/event"

<h1>Manage Events</h1>



    <BlazorGrid CurrentPage="@currentPage" TotalRows="@TotalRows" pageSize="@pageSize" OnClick="PagingHandler">
        <ModalHeader>
        <tr>
            <th style="width:25%;">
                <MenuHeader ColumnName="DateOfBirth" ColumnType="date" SelectedColumn="@sortKey" SortDir="@sortDirection" Sort="Sort" Filter="Filter">Date</MenuHeader>
            </th>
            <th class="smallSCR">
                <MenuHeader ColumnName="userName" SelectedColumn="@sortKey" SortDir="@sortDirection" Sort="Sort" Filter="Filter">UserName</MenuHeader>
             </th>
            <th>
                <MenuHeader ColumnName="topic" SelectedColumn="@sortKey" SortDir="@sortDirection" Sort="Sort" Filter="Filter">Topic</MenuHeader>
            </th>
        </tr>
        </ModalHeader>
        <ModalBody>
        @foreach (var dat in eventData)
        {
            <tr @onclick="@(e => ShowPop(e, dat))">
                <td>@(dat.date==null?"n/a":dat.date.Value.ToShortDateString())</td>
                <td class="smallSCR">@dat.userName</td>
                <td>@dat.topic</td>
            </tr>
        }
    </ModalBody>
</BlazorGrid>


<BlazorModal Title="Update Event" IsOpened="isOpened">
    <ModalBody>
        <div class="row">
            <div class="col-xs-6 col-sm-4">
                <label class="label2">Name</label>
            </div>
            <div class="col-xs-6 col-lg-8">
                <input class="form-control" type="text" name="Name" id="Name" @bind="selectedEvent.userName" />
            </div>
            <input type="hidden" id="id" name="id" />
            <input type="hidden" id="Address_ID" name="Address_ID" />
        </div>

        <div class="row">
            <div class="col-xs-6 col-sm-4">
                <label class="label2">TopicTitle</label>
            </div>
            <div class="col-xs-6 col-lg-8">
                <input class="form-control" type="text"  @bind="selectedEvent.topicTitle" />
            </div>
        </div>
        <div class="row">
            <div class="col-xs-6 col-sm-4">
                <label class="label2">Topic</label>
            </div>
            <div class="col-xs-6 col-lg-8">
                <input class="form-control" type="text"   @bind="selectedEvent.topic" />
            </div>
        </div>
        <div class="row">
            <div class="col-xs-6 col-sm-4">
                <label class="label2">Date</label>
            </div>
            <div class="col-xs-6 col-lg-8">
                <input class="form-control" type="date" @bind="selectedEvent.date" />
            </div>
        </div>
        <div class="row">
            <div class="col-xs-6 col-sm-4">
                <label class="label2">Description</label>
            </div>
            <div class="col-xs-6 col-lg-8">
                <input class="form-control" type="text" @bind="selectedEvent.description" />
            </div>
        </div>

    </ModalBody>
    <ModalFooter>
        <button class="btn btn-primary" @onclick="CloseModal">Close</button>
        <button class="btn btn-primary" disabled="@(isadmin==false)" @onclick="SaveModal">Save</button>
    </ModalFooter>
</BlazorModal>
