@inject IJSRuntime JSRuntime;

<div class="container-fluid">
    <div class="row" @onclick="@(e => OnSort(e))">
        <div class="col">@ChildContent &nbsp;<i class="@cssClass()" aria-hidden="true"></i></div>
    </div>
    @if (Filter.HasDelegate)
    {
        if (ColumnType != "date")
        {
            <div class="row">
                <input type="text" class="form-control" placeholder="<<Search>>" @oninput="@FilterChanged" />
            </div>
        }
        else 
        {
            <div class="row">
                <div class="col-3">
                    <input type="date" @ref="inpElement1" class="form-control" placeholder="<<Search>>" @oninput="@FilterChanged" />
                </div>
                <div class="col-3">
                    <input type="date" @ref="inpElement2" class="form-control" placeholder="<<Search>>" @oninput="@FilterChangedEnd" />
                </div>
                <div class="col-6">
                    <i class="fa fa-times" @onclick="@(e => ClearDateFilter(e))" aria-hidden="true"></i>
                </div>
            </div>
        }
    }
    else
    {
    <div class="row">
            <div style="height:37px;">&nbsp;</div>
    </div>
    }
</div>


@code {
    [Parameter] public EventCallback<Tuple<string,string,string,string>> Filter { get; set; }
    [Parameter] public EventCallback<string> Sort { get; set; }
    [Parameter] public string ColumnName { get; set; }
    [Parameter] public string ColumnType { get; set; }
    [Parameter] public string SelectedColumn { get; set; }
    [Parameter] public RenderFragment ChildContent { get; set; }
    [Parameter] public string SortDir { get; set; }
    bool isTrying = false;
    private ElementReference inpElement1;
    private ElementReference inpElement2;

    private string _searchString;
    private string _searchStringEnd;
    private void FilterChanged(ChangeEventArgs args)
    {
        var wasEmpty = string.IsNullOrEmpty(_searchString);
        Console.WriteLine("onChange selectedEventID=" + args.Value);

        _searchString = args.Value.ToString().Trim();
        //if had data and cleared, continue
        if (string.IsNullOrEmpty(_searchString) && wasEmpty) return;
        if (isTrying) return;

        if (ColumnType == "date" && _searchString.Length == 0 && !wasEmpty)
            ;
        else
        {
            if (ColumnType == "date" && _searchString.Length < 8) return;
            if (ColumnType == "date" && _searchString.Length >= 8) {
                DateTime hld;
                if (!DateTime.TryParse(_searchString,out hld)) return;
            }
        }

        isTrying = true;
        if (ColumnType == null) ColumnType = "string";
        Task.Delay(750).ContinueWith(t => firemethod());
    }

    private void FilterChangedEnd(ChangeEventArgs args)
    {
        var wasEmpty = string.IsNullOrEmpty(_searchStringEnd);
        Console.WriteLine("onChange selectedEventID=" + args.Value);

        _searchStringEnd = args.Value.ToString().Trim();
        //if had data and cleared, continue
        if (string.IsNullOrEmpty(_searchStringEnd) && wasEmpty) return;
        if (isTrying) return;

        if (ColumnType == "date" && _searchStringEnd.Length == 0 && !wasEmpty)
            ;
        else
        {
            if (ColumnType == "date" && _searchStringEnd.Length < 8) return;
            if (ColumnType == "date" && _searchStringEnd.Length >= 8)
            {
                DateTime hld;
                if (!DateTime.TryParse(_searchStringEnd, out hld)) return;
            }
        }

        isTrying = true;
        if (ColumnType == null) ColumnType = "string";
        Task.Delay(750).ContinueWith(t => firemethod());
    }

    private async void firemethod()
    {
        isTrying = false;
        if (Filter.HasDelegate)
        {
            InvokeAsync(() =>
            {
                Filter.InvokeAsync(Tuple.Create(ColumnName, ColumnType, _searchString, _searchStringEnd));
            });
        }
    }

    string cssClass() {
        //Console.WriteLine($"colname({ColumnName}) == selectectcol({SelectedColumn})");
        if (SelectedColumn == ColumnName) {
            var style = "fa ";
            if (SortDir=="asc") style += "fa-sort-up";
            else style+= "fa-sort-down";
            //Console.WriteLine($"!!!!! hit colname({ColumnName}) SortDir({SortDir})  style=({style})");
            return style;
        }
        return "fa fa-sort";
    }
    private void OnSort(MouseEventArgs e)
    {
        //Console.WriteLine($"!!!!! hit SORT({ColumnName})");
        if (Sort.HasDelegate)
            Sort.InvokeAsync(ColumnName);

    }


    private async Task ClearDateFilter(MouseEventArgs e)
    {
        await JSRuntime.InvokeVoidAsync("clearInputs", inpElement1, inpElement2);
        DateTime hld;
        var doRefresh = false;
        if (DateTime.TryParse(_searchString, out hld))
        {
            _searchString = string.Empty; doRefresh = true;
        }
        if (DateTime.TryParse(_searchStringEnd, out hld))
        {
            _searchStringEnd = string.Empty; doRefresh = true;
        }

        if (doRefresh)
            Task.Delay(250).ContinueWith(t => firemethod());
    }
}
